<?xml version="1.0" encoding="UTF-8"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">商品名</Data></Cell>
        <Cell><Data ss:Type="String">ブランド名</Data></Cell>
        <Cell><Data ss:Type="String">カテゴリー名</Data></Cell>
        <Cell><Data ss:Type="String">税抜き価格</Data></Cell>
        <Cell><Data ss:Type="String">作成日</Data></Cell>
      </Row>
    <% @products.each do |product| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= product.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.brand.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.brand.category.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product.unit_price %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product.create_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>