<div class="row" style= "width: 80%; margin: 20px auto;">
	<div class="form-horizontal">
		<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">マイページ</h4>
	</div>
</div>

<div class="show-container" style="width:50%; margin: 20px auto;">
	<table class="table table-bordered">
		<tr>
			<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>プロフィール画像</th>
			<td>
				<% if @consumer.profile_image.present? %>
	     			<%= attachment_image_tag @consumer.profile_image, :image, :fill, 200, 200 %>
				<% else %>
					<%= image_tag 'no_image.jpg',size: '200*200'%>
				<% end %>
			</td>
		</tr>
		<tr>
			<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>氏名</th>
			<td><%= @consumer.name %></td>
		</tr>
		<tr>
			<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>電話番号</th>
			<td><%= @consumer.phone %></td>
		</tr>
		<tr>
			<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>メールアドレス</th>
			<td style=“border-bottom: 1px solid #DAD7D7;“><%= @consumer.email %></td>
		</tr>
		<td><h5>登録情報</h5>
			<%= link_to '編集する', edit_consumers_consumer_path, class: "btn btn-outline-primary" %>
		</td>
	</table>

	<table>
		<td><h5>カード情報登録・確認</h5>
			<% if @card.present? %>
				<%= form_for(@card,url:consumers_cards_path,method: :post) do |f| %>
				 <script
		          type="text/javascript"
		          src="https://checkout.pay.jp/"
		          class="payjp-button"
		          data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>"
		          data-submit-text="カード番号の登録する"
		          data-text="カード番号の登録"
		          data-partial="false">
	       		</script>
	       		<% end %>
	       	<%else%>
	       	<%="**** **** **** " + @default_card_information.last4 %><br>
	       	有効期限
	       	<% exp_month = @default_card_information.exp_month.to_s %>
			<% exp_year = @default_card_information.exp_year.to_s.slice(2,3)%>
			<%= exp_month + " / " + exp_year%>
			<div>
				<%= link_to"カード情報を削除する",consumers_cards_delete_path(@cards)%>
			</div>
	       	<% end %>
		</td>
	</table>

	<th><h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">配送先</h4>
		<%= link_to consumers_destinations_path do %>
		一覧を見る<span class="glyphicon glyphicon-chevron-right"></span>
		<% end %>
		<hr>
		<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">注文履歴</h4>
		<%= link_to consumers_orders_path do %>
		一覧を見る<span class="glyphicon glyphicon-chevron-right"></span>
		<% end %>
	</th>
</div>
