<table>
<% @consumers.each do |consumer| %>
<tr>
	<th>名前</th>
	<th>性別</th>
	<th>電話番号</th>
	<th>年齢</th>
	<th>ステータス</th>
</tr>

		<tr>
			<td><%= consumer.name %></td>
			<td><%= consumer.gender_i18n %></td>
			<td><%= consumer.phone %></td>
			<td><%= consumer.age_i18n %></td>
			<td><%= consumer.withdraw_i18n %></td>
		</tr>
		<% end %>
</table>