<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 <div class="field">
    <label >姓</label>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    <label >名</label>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>
  <div class="field">
    <label >セイ</label>
    <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name" %>
    <label >メイ</label>
    <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name" %>
  </div>
  <div class="field">
     <%= f.radio_button :gender, :man %>
      <label >男性</label>
      <%= f.radio_button :gender, :woman %>
      <label >女性</label>
</div>
  <div class="field">
      <%= f.radio_button :age, :ten %>
      <label >10代</label>
      <%= f.radio_button :age, :twenty %>
      <label >20代</label>
      <%= f.radio_button :age, :thirty %>
      <label >30代</label>
      <%= f.radio_button :age, :forty %>
      <label >40代</label>
      <%= f.radio_button :age, :fifty %>
      <label >50代以上</label>
  </div>
  <div class="field">
    <label >電話番号</label>
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
  </div>

  <div class="field">
    <label >メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
     <label >郵便番号</label>
     <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %>   </div>
<div class="field">
     <label >都道府県</label>
     <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
</div>
<div class="field">
     <label >市町村</label>
     <%= f.text_field :address_city, autofocus: true, autocomplete: "address_city" %>
</div>
<div class="field">
    <label >番地</label>
     <%= f.text_field :address_street, autofocus: true, autocomplete: "address_street" %>
</div>
<div class="field">
     <label >建物</label>
     <%= f.text_field :address_building, autofocus: true, autocomplete: "address_building" %>
</div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "consumers/shared/links" %>
