<h2>記事詳細</h2>
<table class="table">
	<tr>
		<th>画像</th>
		<th>投稿者</th>
		<th>タイトル</th>
		<th>本文</th>
		<th></th>
	</tr>
	<tr>
		<td>
			<% if @column.column_images.present? %>
			  <% @column.column_images.each do |image| %>
			    <%= attachment_image_tag image, :image, :fill, 200, 200 %>
			  <% end %>
			<% else %>
			    <%= image_tag 'no_image.jpg',size: '400*400'%>
			<% end %>
		</td>
		<td>
			<%= link_to(consumers_fermer_path(@consumer)) do %>
			<%= @column.fermer.name %>
			<% end %>
		</td>
		<td><%= link_to @column.title, fermers_column_path %></td>
		<td><%= @column.body %></td>
		<td>
				<%= render 'consumers/column_favorites/favorite_form' ,column: @column, favorite: @favorite %>
		</td>
	</tr>
</table>
<p><%= @column.column_comments.count %>件コメント</p>
<div class="outer">
	<table class="table">
		<thead>
			<tr>
				<th>投稿者</th>
				<th>コメント</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody id="comments_area">
					<%= render partial: 'consumers/column_comments/index', locals: { comments: @comments } %>
		</tbody>
	</table>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<% if consumer_signed_in? %>
			<%= render partial: 'consumers/column_comments/form', locals: { comment: @comment, column: @column } %>
			<% end %>
		</div>
	</div>
</div>
