<% comments.each do |comment| %>
<tr>
  <td class="posts-title"><%= link_to "#{comment.consumer.name}さん", consumers_consumer_path(comment.consumer.id) %></td>
  <td class="posts-prof"><%= comment.consumer.gender_i18n %> <%= comment.consumer.age_i18n %></td>
  <td><%= l comment.created_at, format: :short %></td>
  <td class="mb-3">評価：<%= comment.rate %>点</td>
  <td id="star-rate-<%= comment.id %>"></td>
    <script>
    $('#star-rate-<%= comment.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= comment.rate %>,
    });
    </script>
  <td><%= comment.title %></td>
  <td><%= comment.comment %></td>
  <td>
    <% if current_consumer == comment.consumer %>
      <%= link_to '削除',  consumers_product_product_comment_path(product_id:@product, id: comment.id), method: :delete, class:'btn btn-default', remote: true %>
    <% end %>
  </td>
</tr>
  <% end %>
