<div class="container">
	<div class="row">
		<div class="col-md-10">
			<table class="table table-striped">
				<% @fermers.each do |fermer| %>
					<thead class="thead-dark">
						<tr>
							<th>農家名</th>
							<th>電話番号</th>
							<th>ホームページ</th>
							<th>ステータス</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<%= link_to(admins_fermer_path(fermer)) do %>
									<%= fermer.name %>
								<% end %>
							</td>
							<td><%= fermer.phone %></td>
							<td><%= fermer.home_page %></td>
							<td><%= fermer.withdraw_i18n %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>
