<% reviews.each do |review| %>
<tr>
  <td class="posts-title"><%= link_to "#{review.consumer.name}さん", consumers_consumer_path(review.consumer.id) %></td>
  <td class="posts-prof"><%= review.consumer.gender_i18n %><%= review.consumer.age_i18n %></td>
  <td><%= l review.created_at, format: :short %></td>
  <td class="mb-3">評価：<%= review.rate %>点</td>

  <td id="star-rate-<%= review.id %>"></td>
    <script>
      $(document).ready(function() {
    $('#star-rate-<%= review.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= review.rate %>,
    });
  });
    </script>
  <td><%= review.title %></td>
  <td><%= review.comment %></td>
  <td class="col-md-12 edit-button">
    <% if current_consumer == review.consumer %>
      <%= link_to '口コミを削除',consumers_fermer_fermer_review_path(fermer_id:@fermer, id: review.id), method: :delete, class:'btn btn-default', remote: true %>
    <% end %>
  </td>
</tr>
<% end %>