<% if @datas.present? %>
	<% @datas.each do |data| %>
		<% if @model == "column" %>
			<table class='table'>
				<tr>
					<th>タイトル</th>
					<th>本文</th>
				</tr>
				<tr>
					<td>
						<%= data.title %>
					</td>
					<td>
						<%= data.body  %>
					</td>
					<td><%= link_to "詳細へ", consumers_column_path(data) %></td>
				</tr>
			</table>
		<% else @model == "product" %>
			<table class='table'>
				<tr>
					<th>タイトル</th>
					<th>本文</th>
				</tr>
				<tr>
					<td>
						<%= data.name %>
					</td>
					<td>
						<% if data.product_images.present? %>
					     	 <%= attachment_image_tag data.product_images.first, :image, :fill, 200, 200 %>
					  	<% else %>
					    	<%= image_tag 'no_image.jpg',size: '200*200'%>
					  	<% end %>
					</td>
					<td><%= link_to "詳細へ", consumers_product_path(data) %></td>
				</tr>
			</table>
		<% end %>
	<% end %>
<% end %>