<!DOCTYPE html>
<html>
<head>
  <title>namespace - consumer</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="https://js.pay.jp/"></script>
  <script type="text/javascript">Payjp.setPublicKey('ENV["PAYJP_PUBLIC_KEY"]');</script>
</head>
<body class="drawer drawer--right">
	<header>
    <nav class="navbar navbar-expand-lg "style="background-color: #B4DE9B;color: black;">
      <a class="navbar-brand" href="/">WAGURI</a>
      <a class="logo"></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">ホーム <span class="sr-only">(現位置)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              管理者
            </a>
            <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admins/sign_in">ログイン</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            	ユーザー
            </a>
            <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/consumers/sign_in">ログイン</a>
              <a class="dropdown-item" href="/consumers/sign_up">サインアップ</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              ユーザー（農家）
            </a>
            <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/fermers/sign_in">ログイン</a>
              <a class="dropdown-item" href="/fermers/sign_up">サインアップ</a>
            </div>
          </li>
        </ul>
        <div class="search-form">
            <%= form_tag(search_path,method: :get) do %>
            <%= text_field_tag'search[content]' %>
            <%= select_tag 'search[model]',options_for_select({"商品" => "product","記事" => "column"}) %>
              <%= select_tag 'search[how]',options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"}) %>
              <%= submit_tag '検索',class: "btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
    	<div class="main_image"id="Topimage">
    		<div class="top_image image1"></div>
    	 </div>
    </diV>
  </header>
  <div><h1 style="text-align: center;">====ABOUT====</h1></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 d-none d-md-block bg-light sidebar card">
        <div class="sidebar-sticky" style="box-sizing: border-box;">
          <h6 class= "pt-2 text-center"><i class="fas fa-crown"></i>オススメ商品<i class="fas fa-crown"></i></h6>
          <%if @products.present? %>
            <% @products.each do |product| %>
              <div class="column-box">
                <div class="shadow-sm" style="text-align: center">
                  <%= link_to(consumers_product_path(product)) do %>
                    <% if product.product_images.present? %>
                      <%= attachment_image_tag product.product_images.first, :image, :fill, 200, 200 %>
                    <% else %>
                      <%= image_tag 'no_image.jpg',size: '200*200'%>
                    <% end %>
                  <p>
                    商品名<%= product.name %>
                  </p>
                  <p>
                    <%= product.unit_price %>円（税抜）
                  </p>
                  <% end %>
                </div>
              </div>
            <%  end %>
          <% end %>
        </div>
      </div>
			<div class="col-md-3">
        <div style="margin-top: 50px;">
          <div class="about_image"></div>
          <div class="about_image2"></div>
        </div>
      </div>
      <div class="col-md-3">
				<div>
          <div class="about_text">
            <h3 style="background: linear-gradient(transparent 70%, #00F9A9 70%);">WAGURIとは</h3>
            <h5 style="color: blue;">新鮮な農作物を食べたいあなたへ</h5>
            <p>昨今、食に対する安全性意識の向上により生産者の顔を目で見て購入することが、増えてきています。</br>
              ご家族の健康に気を遣う上で食品に対してどのような方が生産しているのかだけでなく、</br>
              どのような方法で栽培し、収穫、出荷を行っているのかを知るのかによって、<br>
              より食材に対しての安心というものが得ることができると考えています。<br>
              WAGURIでは、そんな皆様の願いを叶えることができるECサイトとなっています。
            </p>
            <h5 style="color: blue;">新鮮な農作物を多くの方に届けたいあなたへ</h5>
            <p>
              普段、市場やスーパーなどに卸している農家の方は直接お客様の声を聞くということは難しい意と思います。
              また自身が作るものに対する想い、こだわりなどを伝えることも難しいと思います。
              WAGURIでは、そんな皆様の願いを叶えることができるECサイトとなっています。
            </p>
          </div>
				</div>
			</div>
			<div class="col-md-3 d-none d-md-block bg-light sidebar card">
        <div class="sidebar-sticky" style="box-sizing: border-box;">
          <h6 class= "pt-2 text-center"><i class="fas fa-crown"></i>オススメ記事<i class="fas fa-crown"></i></h6>
            <%if @columns.present? %>
              <% @columns.each do |column| %>
                <div class="column-box" style="text-align: center">
                  <div class="shadow-sm">
                  <%= link_to(consumers_column_path(column)) do %>
                    <% if column.column_images.present? %>
                       <%= attachment_image_tag column.column_images.first, :image, :fill, 200, 200,class: "ranking-img" %>
                    <% else %>
                      <%= image_tag 'no_image.jpg',size: '400*400'%>
                    <% end %>
                  <p class="ranking-favorite"><i class="fas fa-heart" style="color:red;"><%= column.column_favorites.count %></i>いいね！</p>
                  <p class="ranking-name">タイトル：<%= column.title %></p>
                   <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
		  </div>
    </div>
    <hr class="featurette-divider">
    <div><h1 style="text-align: center;">====How To Use====</h1></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 style="background: linear-gradient(transparent 70%, #00F9A9 70%);">記事の作成•閲覧</h3>
          <h6 style="color:blue;background: linear-gradient(transparent 70%, #f9ba32 70%);">農園</h6>
          <p>
            普段の農作業の記録として、記事を作成してください。
            写真を複数投稿することもできます。
            皆様の作物への情熱を存分に、自由に投稿してください。
          </p>
          <h6 style="color:blue;background: linear-gradient(transparent 70%, #f9ba32 70%);">ユーザー</h6>
          <p>
            記事の投稿を見て、どのように作られているかを見ることができます。
            また、様々なコメントを残すことができます。
            また、いいねすることによって、農園者様の励みになりますので、
            積極的にコメント•いいねしてあげてください。
          </p>
        </div>
        <div class="col-md-6">
          <h3 style="background: linear-gradient(transparent 70%, #00F9A9 70%);">商品のの作成•購入</h3>
          <h6 style="color:blue;background: linear-gradient(transparent 70%, #f9ba32 70%);">農園</h6>
          <p>
            商品の作成を行なってください。
            様々な品種、ブランドに対応しています。
            在庫に関しても登録数ることができます。
          </p>
          <h6 style="color:blue;background: linear-gradient(transparent 70%, #f9ba32 70%);">ユーザー</h6>
          <p>
            商品の購入を行えます。銀行振り込み、クレジットカード支払いの２経つから選択できます。
            また商品につきましては。レビューを記述することができます。レビューは星５の評価で
            農園側の商品向上のために積極的にコメント、レビューをおこなっていただけますと幸いです。
          </p>
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <%= link_to(new_admin_session_path) do %>
            <button type="button" class="btn btn-warning btn-lg btn-block" href="/admins/sign_up">管理者でログイン</button>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to(new_consumer_session_path) do %>
            <button type="button" class="btn btn-success btn-lg btn-block">ユーザーでログイン</button>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to(new_fermer_session_path) do %>
            <button type="button" class="btn btn-info btn-lg btn-block">農家でログイン</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer"style="background-color: #B4DE9B;">
  <div class="container text-right text-white mt-3">
    <p style="text-align: center;color: black;">© 2020 Yuto Konishi </p>
  </div>
</footer>
</body>

</html>

