<div class="container-fruid">
	<div class="row">
		<div class="col-md-10">
			<table class="table table-striped">
				<% @products.each do |product| %>
					<thead  class="thead-dark">
						<tr>
							<th class="col-xs-3">商品イメージ</th>
							<th class="col-xs-1">農家名</th>
							<th class="col-xs-1">商品名</th>
							<th class="col-xs-1">カテゴリー名</th>
							<th class="col-xs-1">ブランド名</th>
							<th class="col-xs-3">商品紹介</th>
							<th class="col-xs-1">税抜単価</th>
							<th class="col-xs-1">販売ステータス</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<%= link_to(admins_product_path(product)) do %>
									<% if product.product_images.present? %>
									      <%= attachment_image_tag product.product_images.first, :image, :fill, 200, 200 %>
									<% else %>
									    <%= image_tag 'no_image.jpg',size: '200*200'%>
									<% end %>
								<% end %>
						    </td>
							</th>
							<td><%= product.fermer.name %></td>
							<td><%= product.name %></td>
							<td><%= product.brand.category.name %></td>
							<td><%= product.brand.name %></td>
							<td><%= product.introduction %></td>
							<td><%= product.unit_price %></td>
							<td><%= product.sale_status %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>
