<!DOCTYPE html>
<html>
	<head>
	    <title>namespace - admin</title>
	    <%= csrf_meta_tags %>
	    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 	</head>
	<body>
		<header class="navbar-brand-center" style="background-color: #FFAD90;">
			<div class="navbar-nav ml-auto mr-auto">
				<% if admin_signed_in? %>
					<nav class="navbar navbar-expand-lg"style="background-color: #B4DE9B;color: black;">
					    <a class="navbar-brand" href="#">WAGURI</a>
					    <a class="logo"></a>
					    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
					    	<span class="navbar-toggler-icon"></span>
					    </button>
					    <div class="collapse navbar-collapse" id="Navber">
					        <ul class="navbar-nav mr-auto">
					          	<li class="nav-item active">
					            	<a class="nav-link"><%= link_to 'マイページ', admins_homes_top_path, class: "nav-link disabled" %>
					            	</a>
					          	</li>
					          	<li class="nav-item active">
					           		<a class="nav-link">
					              		<%= link_to '商品一覧',  admins_products_path, class: "nav-link disabled" %>
					            	</a>
					        	</li>
					        	<li class="nav-item active">
					           		<a class="nav-link">
					              		<%= link_to '記事一覧',  admins_columns_path, class: "nav-link disabled" %>
					            	</a>
					        	</li>
					          	<li class="nav-item active">
					           		<a class="nav-link">
					              		<%= link_to '注文履歴',  admins_orders_path, class: "nav-link disabled" %>
					            	</a>
					        	</li>
					          	<li class="nav-item active">
					            	<a class="nav-link">
					              		<%= link_to '農園一覧',  admins_fermers_path, class: "nav-link disabled" %>
					            	</a>
					          	</li>
					          	<li class="nav-item active">
					            	<a class="nav-link">
					              		<%= link_to '顧客一覧', admins_consumers_path, class: "nav-link disabled" %>
					            	</a>
					          	</li>
					          	<li class="nav-item active">
					            	<a class="nav-link">
					              		<%= link_to 'ログアウト', destroy_fermer_session_path, method: :delete,class: "nav-link disabled" %>
					            	</a>
					          	</li>
					        </ul>
					        <div class="search-form">
					            <%= form_tag(consumers_search_path,method: :get) do %>
					            <%= text_field_tag'search[content]' %>
					            <%= select_tag 'search[model]',options_for_select({"商品" => "product","記事" => "column","ブランド" => "brand","カテゴリー" => "category"}) %>
					              <%= select_tag 'search[how]',options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"}) %>
					              <%= submit_tag '検索',class: "btn btn-outline-primary my-2 my-sm-0" %>
					            <% end %>
					        </div>
					    </div>
					</nav>
				<% else %>
					<nav class="navbar navbar-expand-lg "style="background-color: #B4DE9B;color: black;">
					    <a class="navbar-brand" href="#">WAGURI</a>
					    <a class="logo"></a>
					    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
					        <span class="navbar-toggler-icon"></span>
					    </button>
					    <div class="collapse navbar-collapse" id="Navber">
					     	<ul class="navbar-nav mr-auto">
					        	<li class="nav-item active">
					          		<a class="nav-link">
					            		<%= link_to '商品一覧',admins_products_path, class: "nav-link disabled" %>
					          		</a>
				        		</li>
					        	<li class="nav-item active">
					          		<a class="nav-link">
					            		<%= link_to '新規登録', new_admin_registration_path, class: "nav-link disabled" %>
					          		</a>
					        	</li>
					        	<li class="nav-item active">
					          		<a class="nav-link">
					            		<%= link_to 'ログイン', new_admin_session_path, class: "nav-link disabled" %>
					          		</a>
					        	</li>
					      	</ul>
				    	</div>
			  		</nav>
				<% end %>
			</div>
		</header>
		<% content_for :content do %>
	  		<%= yield %>
		<% end %>
		<%= render template: "layouts/application" %>
		<footer class="footer"style="background-color: #B4DE9B;">
			<div class="container-fruid text-right text-white mt-3">
  				<p style="text-align: center;color: black;">© 2020 Yuto Konishi </p>
			</div>
		</footer>
	</body>
</html>