<!DOCTYPE html>
<html>
  <head>
    <title>namespace - admin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	<body>
		<header class="navbar-brand-center" style="background-color: #FFAD90;">
		<div class="navbar-nav ml-auto mr-auto">
			<% if admin_signed_in? %>
			<nav>
				<ul class="nav-list">
					<li><h2 class="navbar-brand navbar-right">WAGURI</h2></li>
					<div class= "nav-list-item logo"></div>
					<li class="nav-list-item"><%= link_to '商品一覧', admins_products_path, class: "nav-link disabled" %></li>
					<li class="nav-list-item"><%= link_to '会員一覧', admins_consumers_path, class: "nav-link disabled" %></li>
					<li class="nav-list-item"><%= link_to 'カテゴリー一覧', admins_categories_path, class: "nav-link disabled" %></li>
					<li class="nav-list-item"><%= link_to 'ブランド一覧', admins_brands_path, class: "nav-link disabled" %></li>
					<li class="nav-list-item"><%= link_to '注文履歴', admins_orders_path, class: "nav-link disabled" %></li>
					<li class="nav-list-item"><%= link_to 'ログアウト', destroy_admin_session_path,method: :delete, class: "nav-link disabled" %></li>
				</ul>
			</nav>
			<% else %>
			<nav>
				<ul class="nav-list">
					<li><h2 class="navbar-brand navbar-right">WAGURI</h2></li>
					<div class= "nav-list-item logo"></div>
					<li class="nav-list-item"><%= link_to 'ログイン', admin_session_path, class: "nav-link disabled" %></li>
					<li class="nav-list-item"><%= link_to '新規登録', admin_registration_path,method: :delete, class: "nav-link disabled" %></li>
				</ul>

			<% end %>
		</div>
	    </header>
		<% content_for :content do %>
		  <%= yield %>
		<% end %>
		<%= render template: "layouts/application" %>
	</body>
</html>