<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>namespace - consumer</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="https://js.pay.jp/"></script>
  <script type="text/javascript">Payjp.setPublicKey('ENV["PAYJP_PUBLIC_KEY"]');</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.1.0/css/drawer.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.1.0/js/drawer.min.js"></script>
</head>
<body class="drawer drawer--left">
  <header role="banner">
    <% if consumer_signed_in? %>
    <nav class="navbar navbar-expand-lg"style="background-color: #B4DE9B;margin-left: 50px;">
      <a class="navbar-brand"href="/">WAGURI</a>
      <a class="logo" href="/"></a>
      <div class="nav-list-item"><p>ようこそ、
           <%= current_consumer.last_name %>さん！</p>
      </div>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替"style="color: black;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"><%= link_to 'マイページ', consumers_consumer_path(current_consumer), class: "nav-link disabled" %>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">
              <%= link_to '商品一覧',consumers_products_path, class: "nav-link disabled" %>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">
              <%= link_to 'カート',  consumers_cart_products_path(current_consumer), class: "nav-link disabled" %>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">
              <%= link_to '注文履歴',  consumers_orders_path(current_consumer), class: "nav-link disabled" %>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              農園一覧
            </a>
            <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
              <a class="dropdown-item">
                <%= link_to '一覧',consumers_fermers_path, class: "nav-link disabled" %>
              </a>
              <a class="dropdown-item">
                <%= link_to '記事一覧',consumers_columns_path, class: "nav-link disabled" %>
              </a>
              <a class="dropdown-item">
                <%= link_to 'お気に入り農園一覧',consumers_fermers_path(current_consumer), class: "nav-link disabled" %>
              </a>
              <a class="dropdown-item">
                <%= link_to 'お気に入り記事一覧',consumers_columns_path(current_consumer), class: "nav-link disabled" %>
              </a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link">
              <%= link_to 'ログアウト', destroy_consumer_session_path, method: :delete,class: "nav-link disabled" %>
            </a>
          </li>
        </ul>
        <div class="search-form">
            <%= form_tag(consumers_search_path,method: :get) do %>
            <%= text_field_tag'search[content]' %>
            <%= select_tag 'search[model]',options_for_select({"農園" => "fermer","記事" => "column"}) %>
              <%= select_tag 'search[how]',options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"}) %>
              <%= submit_tag '検索',class: "btn btn-outline-primary my-2 my-sm-0" %>
            <% end %>
        </div>
      </div>
    </nav>
    <% else %>
    <nav class="navbar navbar-expand-lg"style="background-color: #B4DE9B;margin-left: 50px;">
      <a class="navbar-brand" href="/">WAGURI</a>
      <a class="logo"href="/"></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替"style="color: black;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link">
            <%= link_to '商品一覧',consumers_products_path, class: "nav-link disabled" %>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">
            <%= link_to '新規登録', new_consumer_registration_path, class: "nav-link disabled" %>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">
            <%= link_to 'ログイン', new_consumer_session_path, class: "nav-link disabled" %>
          </a>
        </li>
      </ul>
    </div>
  </nav>
    <% end %>
  </div>
  <button type="button" class="drawer-toggle drawer-hamburger">
      <span class="sr-only">toggle navigation</span>
      <span class="drawer-hamburger-icon"></span>
    </button>
    <nav class="drawer-nav" role="navigation">
      <div class="search-form"style="margin-top: 100px; margin-left: 30px;">
        <h3>商品検索<i class="fas fa-search"></i></h3>
        <%= form_tag(consumers_search_path,method: :get) do %>
        <%= text_field_tag'search[content]' %>
        <%= select_tag 'search[model]',options_for_select({"カテゴリー" => "category","ブランド" => "brand","商品" => "product"}) %>
          <%= select_tag 'search[how]',options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"}) %>
          <%= submit_tag '検索',class: "btn btn-outline-primary my-2 my-sm-0" %>
        <% end %>
      </div>
      <h5>カテゴリー・ブランド検索<i class="fas fa-search"></i></h5>
      <% @side_categories.each.with_index do |category, i| %>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#category-collapse-<%= i %>"><%= category.name%></a>
            </h4>
          </div>
          <% category.brands.each do |brand| %>
          <div id="category-collapse-<%= i %>" class="panel-collapse collapse in">
            <div class="panel-body">
              <%=link_to(consumers_products_path(brand_id: brand.id)) do %>
                <%= brand.name%>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </nav>

</header>
<div class="container-fruid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block bg-light sidebar card">
      <div class="sidebar-sticky" style="box-sizing: border-box;">
        <h6 class= "pt-2 text-center"><i class="fas fa-crown"></i>オススメ商品<i class="fas fa-crown"></i></h6>
        <%if @side_products.present? %>
          <% @side_products.each do |product| %>
            <div class="column-box">
              <div class="shadow-sm">
                <%= link_to(consumers_product_path(product)) do %>
                  <% if product.product_images.present? %>
                     <%= attachment_image_tag product.product_images.first, :image, :fill, 200, 200 %>
                  <% else %>
                    <%= image_tag 'no_image.jpg',size: '200*200'%>
                  <% end %>
                <p>
                  <%= product.name %>
                </p>
                <% end %>
              </div>
            </div>
          <%  end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <% content_for :content do %>
      <%= yield %>
      <% end %>
      <%= render template: "layouts/application" %>
    </div>
    <div class="col-md-2 d-none d-md-block bg-light sidebar card">
      <div class="sidebar-sticky" style="box-sizing: border-box;">
        <h6 class= "pt-2 text-center"><i class="fas fa-crown"></i>オススメ記事<i class="fas fa-crown"></i></h6>
          <%if @columns.present? %>
            <% @columns.each do |column| %>
              <div class="column-box">
                <div class="shadow-sm">
                <%= link_to(consumers_column_path(column)) do %>
                  <% if column.column_images.present? %>
                     <%= attachment_image_tag column.column_images.first, :image, :fill, 200, 200,class: "ranking-img" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg',size: '400*400'%>
                  <% end %>
                <% end %>
                <p class="ranking-favorite"><i class="fas fa-heart" style="color:red;"><%= column.column_favorites.count %></i>いいね！</p>
                <p class="ranking-name"><%= column.title %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<footer class="footer"style="background-color: #B4DE9B;">
  <div class="container-fruid text-right text-white mt-3">
    <p style="text-align: center;color: black;">© 2020 Yuto Konishi </p>
  </div>
</footer>
</body>
</html>